<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
 	<link rel="stylesheet" href="static/stylesheets/style.css">
	<script type="text/javascript" src="static/javascripts/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="static/javascripts/main.js" async defer="defer" ></script>
	<!--<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script type="text/javascript" src="../public/javascripts/jquery-1.11.3.js" async defer="defer" ></script>
	<script type="text/javascript" src="../public/javascripts/main.js" async defer="defer" ></script>-->
</head>
<body>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<button type="button" class="acquire-image" id="acquire-image">获取缩略图</button>
				<div class="image-list">
					<span class="justify-fix"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="shade">
		<div class="shade-progress"></div>
	</div>
</body>
</html>